<mat-toolbar  class="mat-elevation-z6">
    <span>NAUTES S.p.A.</span>

    <a data-test="home" mat-button routerLink='home'>Home</a>
    <a data-test="product-list" mat-button routerLink='product-list'>Listino</a>
    <a data-test="order" mat-button routerLink='order'>Ordina</a>
    
    <div class="spacer"></div>

    <!--button mat-raised-button class="button button1" (click)="logOut()">Logout</button>
    <button mat-raised-button class="button button2" routerLink='login'>Account</button-->
   
</mat-toolbar>