<mat-toolbar  class="mat-elevation-z6">
    <span>NAUTES S.p.A.</span>

    <a class="button1" mat-button routerLink='/home'>Home</a>
    <a class="button2" mat-button routerLink='/product-list'>Listino</a>
    <a class="button3" mat-button routerLink='/order'>Ordina</a>
     
    <div class="spacer"></div>
    <a class="button4" routerLink = "/login" routerLinkActive = "active">Login</a>
    <a class="buttonLogout" routerLink="" (click)="logOut()">*Logout*</a>
    <a class="buttonAccount" routerLink='/login'>Account*</a>


    <!--button mat-raised-button class="button button1" (click)="logOut()">Logout</button>
    <button mat-raised-button class="button button2" routerLink='login'>Account</button-->
   
</mat-toolbar>
