<div>
	<div data-test = "cart" *ngFor="let product of getCart()" >
		<div data-test= "name">{{ product.name }}</div>
		<div data-test= "price" >{{ product.price }} €</div>
		<div data-test= "quantity" >{{ numberProduct(product)}}</div>
   		<div><!--button mat-raised-button  class="btn btn-default button1" >Rimuovi</button--></div>
	</div>
</div>



<div>
<input class="phone" type="text" placeholder="Telefono" size="10" #phone>
<input class="city" type="text" placeholder="Città" #city>
<input class="address" type="text" placeholder="Indirizzo" #address>
<button class="buttonBuy" (click) = "makeOrder(phone.value, city.value, address.value)">Acquista</button>
<p data-test="total">IL TOTALE E' {{getTotal()}} €</p>
</div>
<div class="left-area" *ngIf = "emptyCart()">
	<P>IL CARRELLO E' VUOTO</P>
</div>
