<div class="tableTitle">
  <h3>Product</h3>
</div>
<ul class="listBox" tabindex="0" role="listbox">
  <thead>
    <tr>
      <th class="text-left">ID</th>
      <th class="text-left">Nome</th>
      <th class="text-left">Prezzo</th>
      <th class="text-left">Descrizione</th>
      <th class="text-left">Elimina</th>
    </tr>
  </thead>
    <div data-test="product" *ngFor="let product of products">
        <td class="id">{{product.id}}</td>
        <td class="name">{{product.name}}</td>
        <td class="price">{{product.price.toFixed(2)}} €</td>
        <td class="description">{{product.description}}</td>
        <td><button class="buttonDelete" >Elimina</button></td>
    </div>
</ul>
<div class="box3">
    <input type="text" class="nameI" placeholder="nome" #name>
    &nbsp;
    <input type="text" class="priceI" placeholder="prezzo" #price>
    &nbsp;
    <input type="text" class="descriptionI" placeholder="descrizione" #description>
    &nbsp;
    <button class="buttonCreate" (click)="createProduct(name.value, price.value, description.value)">Crea</button>
    </div>
