<div class="tableTitle">
  <h3>Product</h3>
</div>
<ul class="listBox" tabindex="0" role="listbox">
  <thead>
    <tr>
      <th class="text-left">ID</th>
      <th class="text-left">Nome</th>
      <th class="text-left">Prezzo</th>
      <th class="text-left">Descrizione</th>
      <th class="text-left">Elimina</th>
    </tr>
  </thead>
</ul>

<div class="box3">
    <input type="text" class="name" placeholder="nome" #name>
    &nbsp;
    <input type="text" class="price" placeholder="prezzo" #price>
    &nbsp;
    <input type="text" class="description" placeholder="descrizione" #description>
    &nbsp;
    <button class="buttonCreate" >Crea</button>
    </div>
