<div class="uk-background-default uk-margin-left" uk-navbar>
    <div class="uk-navbar-left uk-flex-nowrap">
        <a 
            data-test="logo"
            class="uk-navbar-item uk-logo uk-padding-remove-left"
        >
            <img src="favicon.ico" width="40">
        </a>
    </div>
    <div data-test="name" class="uk-navbar-left uk-width-5-6@s uk-width-large@m">
        <div class="banner">
            <h1 class>
                NEW E-COMMERCE!!
            </h1>
        </div>
    </div>
</div>
    