<div>
	<div data-test="product" *ngFor="let product of products">
		<div data-test= "name">{{product.name}}</div>
		<div data-test= "price">{{product.price}}</div>
		<div data-test= "quantity">{{product.quantity}}</div>
		<div ><button data-test="addButton" (click)="addProductToCart(product)" >Aggiungi</button></div>
	</div>

</div>



<!--
<div data-test="product_list" class="table-title">
	<h3>Listino</h3>
</div>
<table class="table-fill">
	<ul id="ss_elem_list" tabindex="0" role="listbox">
		<thead data-test="thead">
			<tr  >
				<th class="text-left">Nome</th>
				<th class="text-left">Prezzo</th>
				<th class="text-left">Ordina</th>
			</tr>
		</thead>
		<tbody class="table-hover">
			<tr>
			<div data-test="product"*ngFor="let product of product_list$ | async">
				<div data-test="name"> {{ product.name }} </div>
				<div data-test="quantity"> {{ product.quantity }} </div>
                <div data-test="price"> {{ product.price }}€ </div>
				<div><button  mat-raised-button class= "button button1" (click)="addProductToCart(product)">Aggiungi</button></div>
			</div>
			<tr>
		</tbody>
	</ul>
</table>
-->

